@page
@model ListModel
@{
}
<h1>Users</h1>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

@foreach(var user in Model.Users)
{
    <partial name="_Summary" model="user" />
}

<a asp-page="./Edit" class="btn btn-primary">Add new</a>
